TELEGRAM_API_ID=put_api_id_from_my_telegram_org_here
TELEGRAM_API_HASH=put_api_hash_from_my_telegram_org_here
TELEGRAM_SESSION=ogarniemy_userbot
ADMIN_TELEGRAM_IDS=put_your_telegram_id_here
PRESENTATION_URL=https://ogarniemy.pro
MARKETING_BOT_DB=marketing_bot.db

FACEBOOK_PAGE_ACCESS_TOKEN=put_facebook_page_access_token_here
FACEBOOK_VERIFY_TOKEN=change_this_secret
